@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
main {
    height: 100vh;
}

.joystickContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10%;
    width: 100%;
}

.modal-container {
    width: 15rem;
    border-radius: 12px;
    box-shadow: inset;
    animation: slit-in-horizontal .8s cubic-bezier(.25,.46,.45,.94) both;
    z-index: 500;
}

.modal-content img {
    width: 15rem;
    animation: slit-in-horizontal .8s cubic-bezier(.25,.46,.45,.94) both;
}

@keyframes slit-in-horizontal{0%{transform:translateZ(-1400px);opacity:0}100%{transform:translateZ(0);opacity:1}}

.headerFIN{
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 15px;
}